= form_for @post, class: 'form-horizontal' do |f|
  .row
    .col.col-lg-12
      %h3= f.label :raw_comment, 'Share Something'
      = f.text_field :raw_comment, placeholder: "Bought anything recently? How much do you think it's worth?"
  .row.actions
    .col.col-lg-12
      .pull-right
        = submit_tag "Submit", class: 'btn btn-primary'
